img.centered{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

img.main{
    width:50%;
}

.navy_background {
    background-color: #0C4063;
}

.center_text {
    text-align: center;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0C4063;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}


nav a:hover {
    background-color: #36627F;
}