@font-face {
  font-family: leagueGothic;
  src: url('/static/fonts/LeagueGothic-Regular.otf');
}

@font-face {
  font-family: stalemate;
  src: url('/static/fonts/Stalemate-Regular.ttf');
}

.header-font {
  font-family: stalemate;
  font-size: 500%;
}

body {
  background-image: url('/static/img/map-background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  font-family: leagueGothic;
  opacity: 0.95;
}

.bigger-text {
  font-size: 200%;
}

img.centered{
    display:block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

img.main{
    width:50%;
}

.navy-background {
    background-color: #0C4063;
}

.light-navy-background {
  background-color: #36627f;
}

.center-text {
    text-align: center;
}

.white-text {
  color: #ffffff;
}

/**************************/
/* COUNTDOWN CLOCK STUFF  */
/**************************/

#countdown {
  font-family: leagueGothic;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
}

#countdown > div {
  padding: 10px;
  border-radius: : 3px;
  display: inline-block;
}

#countdown div > span {
  padding: 15px;
  border-radius: 3px;
  background: #0C4063;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 25px;
}

/********************************/
/* CUSTOM BOOTSTRAP TABLE STUFF */
/********************************/

.table tr > td,
.table thead {
  color: #ffffff !important;
}

.table tr:hover {
  background-color: #36637f !important;
}

/*********************************/
/* CUSTOM BOOTSTRAP NAVBAR STUFF */
/*********************************/

.navbar-custom {
  background-color: #0c4063;
  border-color: #36627f;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #36627f;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #36627f;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #36627f;
}
.navbar-custom .navbar-toggle {
  border-color: #36627f;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #36627f;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #36627f;
  }
}