
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container">
      <br/>
      <nav class="navbar navbar-custom bigger-text">
        <ul class="nav navbar-nav">
          <li class="{{ active_state[0] }}" ><a href="/">Home</a></li>
          <li class="{{ active_state[1] }}" ><a href="ourStory">Our Story</a></li>
          <li class="{{ active_state[2] }}" ><a href="dayOf">The Day Of</a></li>
          <li class="{{ active_state[3] }}" ><a href="weddingParty">Wedding Party</a></li>
          <li class="{{ active_state[4] }}" ><a href="registries">Registry</a></li>
          <li class="{{ active_state[5] }} rsvp-button" ><a href="rsvp">RSVP</a></li>
        </ul>
      </nav>
    </div>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
    <!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script> -->
    <br/>
  </body>
  <br/>
  <div class="center-text">
      <img src="{{ url_for('static', filename='img/flourish-long.png') }}" style="width: 100%">
  </div>
  <br/>
</html>