{% extends "base.html.j2" %}
{% block content %}
    <div class="container">
        <div class="col-sm-12 navy-background white-text center-text img-rounded">
            <h2> Under Construction! </h2>
        </div>
    </div>
{% endblock %}