{% extends "base.html.j2" %}
{% block content %}
    <div class="container">
        <div class="col-sm-12 navy-background white-text center-text img-rounded">
            <div class="header-font"> Thank you for thinking of us! </div>
            <div class="bigger-text">
                We're registered at both <a href="https://www.amazon.com/wedding/registry/26K36NGO8W8T7">Amazon</a> and <a href="http://www.macys.com/registry/wedding/guest/?registryId=6547744">Macy's</a>. <br/>Find us there!
            </div>
        </div>
    </div>
{% endblock %}