{% extends 'base.html' %}
{% block content %}
<div class="container navy-background white-text">
    <br/>
    <!-- <div class="row">{{the_party}}</div> -->
    <table class="table table-hover table-bordered">
        <thead>
            <th>Groomsmen</th>
            <th>Bridesmaids</th>
        </thead>
        <tbody>
        {% for row in the_party %}
        
            <!-- <div class="col-sm-6">{{ row[0] }}</div>
            <div class="col-sm-6">{{ row[1] }}</div> -->

            <tr>
                <td><a href="#">{{row[0]}}</a></td>
                <td><a href="#">{{row[1]}}</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}