{% extends "base.html.j2" %}
{% block content %}
<div class="container">
    {% for member in wedding_party %}
        <div class="{{ loop.cycle('groomsmen', 'bridesmaid') }} img-rounded">
            <div class="header-font">{{ member[0] }}</div>
            <div class="bigger-text" style="text-align: center; padding-left: 10%; padding-right: 10%">{{ member[1] }}</div>
        </div>
        <br/>
    {% endfor %}
</div>
{% endblock %}